/CrossTime/.vs
/CrossTime/CrossTime/bin
/CrossTime/CrossTime/obj
/CrossTime/readme
/beCtrlServer/.vs
/beCtrlServer/Debug
/beCtrlServer/beCtrlServer/Debug
/beCtrlServer/x64
/beCtrlServer/beCtrlServer/x64
/beCtrlServer/CTCtrl-beCtrl
